.emptyPageMessage{
    width: 100%;
    margin: 4rem 0;
    text-align: center;
    color: var(--accent);
    opacity: 0.6;
}
.main{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productContainer{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-bottom: 10rem;
    margin-top: 2rem;
}
.totalContainer{
    position: fixed;
    bottom: 35%;
    left: 0;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    background-color: var(--dark);
    color: var(--light);
    box-shadow: 0px 0px 5px 0px var(--neutral);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.total{
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.purchase{
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark);
    background-color: var(--neutral);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.purchase:hover{
    background-color: var(--accent);
    color: var(--light);
}
.purchase:active{
    background-color: var(--neutral);
    color: var(--dark);
}

@media screen and (max-width: 1500px) {
  
}
@media screen and (max-width: 1200px) {
  .productContainer{
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
    .totalContainer{
        bottom: 0;
        width: 100%;
        flex-direction: row;
        border-bottom-right-radius: 0;
        border-top-left-radius: 1rem;
    }
    .total{
        flex-direction: row;
        gap: 2rem;
    }
}
@media screen and (max-width: 750px) {
    .productContainer {
        width: 85%;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .productContainer {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 450px) {
  
}