.navbar{
    width: 100%;
    background-color: var(--accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 4rem;
    color: var(--light);
}
.brandInfo{
    font-size: 2rem;
    font-weight: 700;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.navbar ul a{
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}
.navbar a{
    text-decoration: none;
    color: var(--light);
}
.navbar ul a:hover{
    background-color: var(--dark);
}

@media screen and (max-width: 1500px) {
  
}
@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 1000px) {
  
}
@media screen and (max-width: 750px) {
    .navbar{
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
      }
      .navbar ul{
        width: 100%;
        justify-content: space-evenly;
        gap: 0.2rem;
      }
}
@media screen and (max-width: 600px) {
  
}
@media screen and (max-width: 450px) {

}