.search{
    width: 100%;
    padding: 0.8rem 1.1rem;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid var(--accent);
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s;
}
.search:focus{
    outline: 1px solid var(--accent)
}