*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --dark: #001B2E;
  --light: #D9E7FF;
  --accent: #294C60;
  --neutral: #ADB6C4;
  --background: #eeeeee;
  --text-dark: #000000;
  --danger: rgb(255, 42, 42);
}
#root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--light);
}
@media screen and (max-width: 1500px) {
  html{
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  html{
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  html{
    font-size: 14px;
  }
}
@media screen and (max-width: 750px) {
  html{
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  html{
    font-size: 10px;
  }
}
@media screen and (max-width: 450px) {
  html{
    font-size: 8px;
  }
}